<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean class= "in.sp.beans.Person" id ="SF">
       <property name= "name" value ="SF Operator"/>
       <property name="address" value= "9 PARA SF"/>
       <property name="id" value ="46279709"/>
    
    </bean>
    
    

</beans>